body {
    font-family: 'Bubbler One';
    background: black;
    color: white;
    margin: 36px;
}
div.image {
    float: left;
    width: 60%;
    display: inline-block;
}
div.description {
    float: left;
    width: 38%;
    display: inline-block;
    margin-left: 2%;
}
img {
    width: 100%;
    border: 2px solid white;
    border-radius: 2px;
}
